<footer>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
     <div class="container">
         <div class="offset-1" style="color: white">
                 <h4>Tem alguma dúvida ?</h4>
                 <ul class="list-unstyled">
                     <li class="py-1"> Av. Bueno de Andrade, 56 Setor-2 Quadra-7</li>
                     <li class="py-1"> +55- 99 9123 5020</li>
                     <li class="py-1"> <a href="lanchesmac@hotmail.com" style="color: yellow">lanchesmac@hotmail.com</a></li>
                 </ul>
         </div>
     </div>
    </nav>
</footer>